* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #fff;
  color: #222;
  line-height: 1.6;
  padding: 0 80px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

.logo {
  font-weight: 700;
  font-size: 1.4rem;
}

.logo span {
  font-weight: 400;
  font-size: 0.8rem;
  margin-left: 8px;
  color: gray;
}

nav a {
  margin: 0 20px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

nav a:hover {
  color: #777;
}

.hero {
  display: flex;
  justify-content: space-between;
  height: 65vh;
  margin-top: 60px;
  gap: 24px;
}

.hero-text {
  width: 50%;
}

.hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero-text p {
  margin-bottom: 25px;
  color: #555;
}

.collection-links {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 15px;
}

.btn-primary {
  background-color: #f7f5eb;
  color: #000;
  font-weight: 600;
  padding: 0.75rem 1.75rem;
  border-radius: 30px;
  text-decoration: none;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}

.collection-links button {
  background: #f5f1e2;
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
}

.collection-links button:hover {
  background: #ece7d6;
}


.spring-link {
  color: #000;
  text-decoration: underline;
  font-weight: 500;
  transition: all 0.2s ease;
}

.spring-link:hover {
  transform: translateX(3px);
}

.products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  width: 50%;
}
.card1 { grid-area: 1 / 1 / 3 / 2; }
.card2 { grid-area: 1 / 2 / 2 / 3; }
.card3 { grid-area: 2 / 2 / 3 / 3; }

.products div {
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  position: relative;     
  padding: 16px;         
  display: flex;          
  flex-direction: column;
  justify-content: flex-end; 
}

.products div:hover {
  border: 2px solid #b7a6f5;
  transform: translateY(-5px);
}

.products div h3 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.products div span {
  margin-top: 6px;
  font-weight: bold;
}

.stat-box {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid #dcdcdc;
  border-radius: 12px;
  padding: 20px 25px;
  width: fit-content;
  margin-top: 30px;
  transition: all 0.3s ease;
}

.stat-box:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transform: translateY(-3px);
}

.stat-left {
  font-size: 1.8rem;
  font-weight: 600;
  color: #1a1a1a;
  display: flex;
  align-items: center;
  line-height: 1;
  padding-top: 2px;
}

.stat-right {
  font-size: 0.9rem;
  color: #555;
  line-height: 1.5;
  max-width: 320px;
}

.stat-right strong {
  color: #000;
}